.card-container {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: #f0f8ff;
    border: 1px solid #e9eaeb;

}

.cards {

    height: 30rem;
    width: 25rem;
    flex-direction: column;
    padding: 2rem;
    margin: 1rem;
    border-bottom: 2px solid #e9eaeb;
    transition: 0.3s;


}

.cards:hover {
    transition: 0.4s;
    scale: 1.05;
    cursor: pointer;
    box-shadow: inset;
    border: 2px solid #e9eaeb;
    border-radius: 5px;
}

.cards h3 {
    color: rgb(75, 75, 75);
}

.cards p {
    width: 100%;
}

.cards img {
    height: 55%;
    width: 100%;
    border-top-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.inlineNumber {
    font-size: 2rem;

}

.borderTest {
    border: 1px solid red;
}

.popOutColor {
    color: #5bc1ac;
}